body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
}
#container {
    width: 60%;
    height: 800px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    background-image: url("https://msptucuman.gov.ar/wordpress/wp-content/uploads/2015/07/portada-padilla-2-1024x512.jpg");
    background-size: cover;
}
#table {
    margin: auto;
    width: 80%;
}






















